*{
    padding: 0;
    margin: 0;
}
.aa {
background-color: rgb(255, 255, 255);
border-radius: 0px;
box-shadow: none;
border: 0ch;
padding: 5px 25px 5px 25px;

}
.div{
    padding: 20px;
    vertical-align: middle;
    min-height: 30px;
    background-color: rgb(53, 170, 88);
    text-align: center;
   
}
a{
    text-decoration: none;
    color: rgb(88, 88, 88);
    font-size: 15px;

}