@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}
.hidden{
  display: none;
}
body {
  background: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 0px 0 0px;
}

.container1 h1 {
  font-weight: bold;
  margin: 0;
}

.container1 h2 {
  text-align: center;
}

.container1 p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.container1 span {
  font-size: 12px;
}

.container1 a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.container1 button {
  border-radius: 20px;
  border: 1px solid #06d755;
  background-color: #06d755;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-bottom: 10px;
  min-width: 130px;
}

.container1 button:active {
  transform: scale(0.95);
}

.container1 button:focus {
  outline: none;
}

.container1 button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.container1 form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.container1 input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: rgb(97, 97, 97);
}

.container1 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container1 {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container1 {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container1.right-panel-active .sign-in-container1 {
  transform: translateX(100%);
}

.sign-up-container1 {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container1.right-panel-active .sign-up-container1 {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay1-container1 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container1.right-panel-active .overlay1-container1 {
  transform: translateX(-100%);
}

.overlay1 {
  background: #06d755;
  background: -webkit-linear-gradient(to right, #009688, #06d755);
  background: linear-gradient(to right, #009688, #06d755);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container1.right-panel-active .overlay1 {
  transform: translateX(50%);
}

.overlay1-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay1-left {
  transform: translateX(-20%);
}

.container1.right-panel-active .overlay1-left {
  transform: translateX(0);
}

.overlay1-right {
  right: 0;
  transform: translateX(0);
}

.container1.right-panel-active .overlay1-right {
  transform: translateX(20%);
}

.tit {
  color: rgb(112, 112, 112);
}